.check{
    margin-top:5%;
}
.login-bg{
    height:100%;
    width:100%;
    position:absolute;
}
.error_msg{
    position:absolute;
    margin-top:20%;
    margin-left:50%;
    transform:translate(-50%,-50%);
}
.nav-session-details{
    position:absolute;
    right:120px;
    color:white;
}
.efficiency_color{
    display:inline-block;
    position: relative;
    top:4px;
    margin-left:10px;
    width:80px;
    height:20px;
}
.dashboard_efficiency{
    position:relative;
    top:-10px;
    left:2px;
}