.check{
    margin-top:5%;
}
.login-bg{
    height:100%;
    width:100%;
    position:absolute;
}
.error_msg{
    position:absolute;
    margin-top:20%;
    margin-left:50%;
    transform:translate(-50%,-50%);
}
.nav-session-details{
    position:absolute;
    right:120px;
    color:white;
}
.efficiency_color{
    display:inline-block;
    position: relative;
    top:4px;
    margin-left:10px;
    width:200px;
    height:30px;
}
.efficiency_color_dashboard{
    width:40px;
    height:20px;
}

#carousel-indicators li{
    background-color: red;
    height:10px;
    width:30px;
}
#carousel-indicators{
    position:absolute;
    top:-35px;
}
.carousel-control-prev:hover {
    background: rgb(32,35,37);
    background: linear-gradient(90deg, rgba(32,35,37,0.8407738095238095) 5%, rgba(60,66,130,0.17690826330532217) 64%);
}
.carousel-control-next:hover{
    background: rgb(32,35,37);
    background: linear-gradient(270deg, rgba(32,35,37,0.8407738095238095) 5%, rgba(60,66,130,0.17690826330532217) 64%);
}
#carousel-control-icon{
    height:40px;
    width:40px;
}
#carousel-control-box{
       opacity:0;
       transition-duration:1s;
}
#carousel-control-box:hover{
        opacity:1;
}
.dashboard-table th, .dashboard-table td{
    text-align:center;
    font-size:25px;
    padding: 10px;
}
.dashboard-table{
    width:100%;
}
.dashboard-table, .dashboard-table th, .dashboard-table td{
    border:1px solid;
}
