{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Machine list</a>
    <span style="color:white;"> Current Shift : {{currentShift}}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

<style>
    .myDiv {
      border: 10px outset;
    }
    </style>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" id="carousel-indicators">
        {% for n in range(page_count) %}
            <li id="carousel-indicators-li" data-target="#carouselExampleIndicators" data-slide-to="{{n}}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for dashboard_machine_data in dashboard_machine_data_split %}
            {% set parent_sno = loop.index %}
            <div id="first" class="carousel-item" data-interval="{{10000}}">
                 <div class="container-fluid" style="margin:0%;padding:1% 2%;height:100%">
                     <table class="dashboard-table table-striped" >
                         <tr>
                             <th>Sno</th>
                             <th> Machine </th>
                             <th> Status </th>
                             <th>Operator Name</th>
                             <th>Part</th>
                             <th> count</th>
                             <th>Production efficiency</th>
                             <th>Efficiency color code</th>
                         </tr>

                         {% for item in dashboard_machine_data %}
                         <tr>
                            <td>
                                {{ ((parent_sno-1) * max_per_page) + loop.index }}
                            </td>
                            <td>
                                {{item.mno}}/{{item.mname}}
                            </td>
                             <td>
                                 {%if item.status=="active"%}
                                    <div style="background-color: #27ae60">{{item.status}}</div>
                                 {%else%}
                                    <div style="background-color: red">{{item.status}}</div>
                                 {%endif%}
                             </td>
                            <td>
                               {%if item.employee_code%}
                               {{item.employee_code}}/{{item.employee_name}}
                               {%else%}
                               Not yet Assigned
                               {%endif%}
                            </td>
                            <td>
                               {%if item.pcode%}
                               {{item.pcode}}/{{item.pdes}}
                               {%else%}
                               No data
                               {%endif%}
                            </td>
                            <td>
                               {%if item.current_count%}
                                   {{item.current_count}}
                               {%else%}
                               No data
                               {%endif%}
                               /
                               {%if item.npccps%}
                               {{item.npccps}}
                               {%else%}
                               No data
                               {%endif%}
                            </td>
                            <td>
                              {{item.efficiency}}%
                            </td>
                            <td>
                                <div id="efficiency_color" class="efficiency_color" style="background-color:{%if item.efficiency>100-item.efficiency_tolarance and item.efficiency<100+item.efficiency_tolarance %} #f39c12 {%elif item.efficiency<=100-item.efficiency_tolarance%} red {%elif item.efficiency>=100+item.efficiency_tolarance%} #27ae60 {%endif%};"> </div>
                            </td>
                         </tr>
                         {% endfor %}
                    </table>
                 </div>
            </div>
        {% endfor %}
    </div>
    <a id="carousel-control-box" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span id="carousel-control-icon" class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a id="carousel-control-box" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span id="carousel-control-icon" class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script>
    $(document).ready(function() {
      $( '#nav-header' ).find( 'li.active' ).removeClass( 'active' );
      $('#nav_dashboard').addClass( 'active' );
    });
    setInterval(function() {
                  window.location.reload();
    }, {{autoRefresh}});

     $(document).ready(function() {
       var element = document.getElementById("first");
        element.classList.add("active");
    });

     $(document).ready(function() {
       var element = document.getElementById("carousel-indicators-li");
        element.classList.add("active");
    });

  </script>
{% endblock %}

