{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/machines_report">Machines report</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/employees_report">Employees report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/supervisors_report">Supervisors Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/parts_report">Parts Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shifts_report">Shifts Report</a>
        </li>
    </ul>
</div>
</nav>
<div class="row"><div class="col-lg-3"><h2>Report Generation</h2></div></div>
<div class="row">
    <div class="col-lg-3">

        <div class="card card-body">
            <form action="/employees_report" method="POST">
                <h2> Set Filter </h2>

                <div class="form-group">
                    <label>Operator id:</label>
                    <select id="employeeCode" name='employeeCode' class="form-control" required>
                        <option value="all" > ALL </option>
                        {% for item in employeesItem %}
                            <option value="{{ item.employee_code }}" >{{ item.employee_code }} / {{ item.employee_name}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>From Date:</label>
                    <input type="date" id="fromDate" name="fromDate"class="form-control" required>
                </div>
                <div class="form-group">
                    <label>To Date:</label>
                    <input type="date" id="toDate" name="toDate"class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Shift:</label>
                    <select id="shiftCode" name="shiftCode"class="form-control" required>
                        <option value="all" > ALL </option>
                        {% for item in shiftItem %}
                            <option value="{{ item.scode }}" >{{ item.scode }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                <label>Export as PDF: </label>
                <input name="export_pdf" type="checkbox">
                </div>
                <button class="btn btn-primary btn-block" name="save">
                    Generate Report
                </button>
                <button class="btn btn-primary btn-block" name="export" onclick="exportCheck()">
                    export
                </button>
                <button class="btn btn-primary btn-block" name="reset" onclick="exportReset()">
                    reset
                </button>
                <br>
                <br>
            </form>

        </div>
    </div>
    <div class="col-md-8">
        <table id="dtable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <td>Sno</td>
                {% for row in columns %}
                <td>{{row}}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for rows in list_data %}
            <tr>
                <td>{{loop.index}}</td>
                {% for row in rows %}
                <td>{{row}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
<script>
var status = '{{status}}';
if (status!=""){
    alert(status);
}

'{% for name,value in userInput.items() %}'
    console.log('{{name}}:{{value}}');
   document.getElementById('{{name}}').value='{{value}}';
'{% endfor %}'

function exportCheck(){
    if ('{{table_vs_column}}'=='[]'){
        event.preventDefault();
        alert("No date to export. Please generate the report");
    }
}

function exportReset(){
    if(!confirm("Are you sure to reset. All the generated data will lost")){
        event.preventDefault();
    }
}


</script>


{% endblock %}