
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>insert title here</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
  
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> <!-- importing jquery-->
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AVOCarbon-EMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav" id="nav-header">
            <li class="nav-item">
              <a class="nav-link" id="nav_dashboard" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav_datahub" href="/datahub">DataHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav_manage" href="/manage">Manage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav_report" href="/report">Reports</a>
            </li>
          </ul>
        </div>
        {%if session['role']=="admin" %}
        <a href="{{ url_for('register') }}" style="position:absolute; right:380px; color:white;">Register User</a>
        {% endif %}
        {%if session['loggedin'] %}
            <div class="nav-session-details">
                <span><b>Username:</b> {{session['username']}}&nbsp;&nbsp;</span>
                <span><b>Role:</b> {{session['role']}}</span>
            </div>
            <a class="nav-link" href="/logout" id="btnLogout" style="position:absolute; right:30px; color:white;">Logout</a>
        {% endif%}


      </nav>

    <div class="container-fluid" style="padding:0%">
      {% block body %}
      {% endblock %}
    </div>

<script>
const btnLogout= document.querySelectorAll('#btnLogout');
if(btnLogout) {
  const btnArray = Array.from(btnLogout);
  btnArray.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      if(!confirm('Are you sure you want to Logout?')){
        e.preventDefault();
      }
    });
  })
}
</script>
  </body>
</html>