{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Data Report</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="row"><div class="col-lg-3"><h2>Report Generation</h2></div></div>
<div class="row">
    <div class="col-lg-3">

        <div class="card card-body">
            <form action="/report" method="POST">
                <h2> Set Filter </h2>

                <div class="form-group">
                    <label>Select Employee Master:</label><br>
                    {% for temp in employee_master %}
                    <input type="checkbox" id="employee_master.{{temp[0]}}" name="employee_master.{{temp[0]}}" value="employee_master">
                    <label> {{temp[0]}}</label><br>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label>Select Machine Master:</label><br>
                    {% for temp in machine_master %}
                    <input type="checkbox" id="machine_master.{{temp[0]}}" name="machine_master.{{temp[0]}}" value="machine_master">
                    <label for="{{temp[0]}}"> {{temp[0]}}</label><br>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label>Select Machine Operator:</label><br>
                    {% for temp in machine_operator %}
                    <input type="checkbox" id="machine_operator.{{temp[0]}}" name="machine_operator.{{temp[0]}}" value="machine_operator">
                    <label for="{{temp[0]}}"> {{temp[0]}}</label><br>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Select Machine data:</label><br>
                    {% for temp in machine_data %}
                    <input type="checkbox" id="machine_data.{{temp[0]}}" name="machine_data.{{temp[0]}}" value="machine_data">
                    <label for="{{temp[0]}}"> {{temp[0]}}</label><br>
                    {% endfor %}
                </div>


                <button class="btn btn-primary btn-block" name="save">
                    Generate Report
                </button>
                <button class="btn btn-primary btn-block" name="export" onclick="exportCheck()">
                    export
                </button>
                <button class="btn btn-primary btn-block" name="reset" onclick="exportReset()">
                    reset
                </button>
                <br>
                <br>
            </form>

        </div>
    </div>
    <div class="col-md-8">
        {% if table_vs_column==[]: %}
        <h2>No data Generated</h2>
        {% endif %}
        <table id="dtable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                {% for row in table_vs_column %}
                <td>{{row}}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for rows in list_data %}
            <tr>
                {% for row in rows %}
                <td>{{row}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
<script>
var status = '{{status}}';
if (status!=""){
    alert(status);
}

'{% for row in table_vs_column %}'
   document.getElementById('{{row}}').setAttribute("checked", "");
'{% endfor %}'

function exportCheck(){
    if ('{{table_vs_column}}'=='[]'){
        event.preventDefault();
        alert("No date to export. Please generate the report");
    }
}

function exportReset(){
    if(!confirm("Are you sure to reset. All the generated data will lost")){
        event.preventDefault();
    }
}

$(document).ready(function() {
  $( '#nav-header' ).find( 'li.active' ).removeClass( 'active' );
  $('#nav_report').addClass( 'active' );
});

</script>


{% endblock %}